section.hero
	.hero__wrapper
		.hero__inner
			.hero__content
				h1 Приём платежей 
					br 
					| для международного бизнеса 
					br 
					| в РФ и СНГ

				p.hero__text Мы предлагаем простое и надёжное решение для обработки платежей

				.hero__footer
					a(href="#").btn Узнать больше
			
			.hero__img
				img.hero__visula(src="img/hero/hero-img.svg" alt="alt")
				img.hero__bg(src="img/hero/hero-bg.svg" alt="alt")