.form-order__label{
	display: block;

	&:not(:last-child){
		margin-bottom: rem(24);
	}

}
.form-order__input {
	height: rem(47);
	padding-left: rem(24);
	padding-right: rem(24);
	background-color: #213004;
	border: 1px solid $accent;
	border-radius: rem(10);
	@include placecolor(rgba(#fff, 0.5));
	color: #fff;
	font-family: $light;
	text-align: center;
}

.form__custom-chek {
	display: block;
	position: relative;
	width: rem(16);
	height: rem(16);
	border: 1px solid #000;
	border-radius: rem(2);

	@media (any-hover: hover) { //только для устройств с ховером
				&:hover{
				cursor: pointer;
			}
		}
	&:before{
		@include absolute-center-old;
		display: none;
		width: rem(8);
		height: rem(8);
		border-radius: rem(2);
		background-color: #000;
		content: '';
	}
}
.form-order__area{
	display: block;
	width: 100%;
	height: rem(100);
	padding:rem(20);
    resize: none;
	border: none;
	background-color: #213004;
	padding-left: rem(20);
	color: #222222;
	font-family: inherit;
}
.form__policy {

}
