/*--------------------header----------------------*/
.header{

}
.header__wrapper {}
.header__inner {
	position: relative;
	z-index: 4;
	min-height: rem(103);
	padding: rem(8) 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: rem(10);
}
.header__logo {
	max-width: rem(180);
	flex-shrink: 0;
	img{
		width: 100%;
	}

	@include max-screen($xss){
		display: none;
	}
}
.header__menu {
	@include menu-mob($media: $sm, $burgerColor: #000, $burgerOpenColor: #000, $plateBgColor: #112B47, $plateHeight: 103);
	z-index: 3;
}
.menu-header {}
.menu-header__body {
	display: flex;
	align-items: center;
	
	column-gap: rem(24);


	@include max-screen($lg){
		column-gap: rem(12);
	}
	@include max-screen($sm){
		flex-direction: column;
		align-items: flex-start;
		row-gap: rem(24);
		padding-top: rem(103);
		padding-left: rem(16);
		padding-right: rem(16);
		background-color: #112B47;
	}

	@include min-screen($sm){
		flex-wrap: wrap;
	}
}
.menu-header__item {
	list-style-type: none;

	&--auth-btn{
		margin-top: rem(20);
		@include min-screen($sm){
			display: none;
		}
	}
}
.menu-header__link {
	font-family: $light;
	font-size: rem(20);
	color: rgba(#fff, .5);
	text-decoration: none;
	transition: color .1s ease-in;
	@include but-null();

	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				color: #fff;
			}
		}

	@include max-screen($lg){
		font-size: rem(14);
	}
	@include max-screen($sm){
		display: block;
		font-size:rem(20);
	}
}

/*--------------------END header----------------------*/ 